# =========================================
# PYTHON
# =========================================

venv/
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3

# =========================================
# ENV FILES
# =========================================

.env

# =========================================
# FASTAPI / UVICORN
# =========================================

*.log

# =========================================
# NODE MODULES
# =========================================

node_modules/

# =========================================
# VITE
# =========================================

dist/
.vite/

# =========================================
# OS FILES
# =========================================

.DS_Store
Thumbs.db

# =========================================
# VS CODE
# =========================================

.vscode/

# =========================================
# UPLOADS
# =========================================

uploads/

# =========================================
# TEST / CACHE
# =========================================

.pytest_cache/
.mypy_cache/

# =========================================
# JUPYTER
# =========================================

.ipynb_checkpoints/

# =========================================
# BUILD FILES
# =========================================

build/

# =========================================
# COVERAGE
# =========================================

.coverage
htmlcov/